/* z-index:
-1	background
0	content
1	foreground
2	cover
3	popup background
4	popup content
5	popup foreground */

*
{
	margin: 0;
	border-style: none;
	border-width: 1px;
	padding: 0;

	text-decoration: none;
	font-size: 10pt;
	font-family: sans-serif;
	border-color: #d0d0d0;
}

body
{
	margin: 8px auto 16px auto;
	width: 1000px;

	line-height: 150%;
}

header
{
	margin-top: -8px;
	border-bottom-style: solid;
	height: 40px;
}
header li
{
	display: block;
	float: left;
	margin: 6px 12px 6px 0;
	border-right-style: solid;
	padding-right: 12px;
}
header li:last-child
{
	border-style: none;
}
header a
{
	display: table-cell;
	height: 28px;

	vertical-align: middle;
	font-size: 12pt;
}

h1, h2, h3, h4, h5, h6
{
	margin: 16px 0;

	font-weight: bold;
}
h1
{
	font-size: 16pt;
	text-align: center;
}
h2
{
	font-size: 14pt;
}
h3
{
	font-size: 12pt;
}

p
{
	margin: 8px 0;
}

blockquote
{
	margin: 8px 16px;

	font-style: italic;
}

ul
{
	margin: -4px 0 0 20px;

	list-style-type: disc;
}

img
{
	display: block;
}
img.inline
{
	display: inline-block;
	position: relative;
	top: 5px;
}

th, td
{
	border-style: solid;
	padding: 4px;

	background-color: #f4f4f4;
}

pre, li>code
{
	display: block;
	border-style: solid;
	border-width: 1px;
	padding: 4px;

	white-space: pre;
	background-color: #f4f4f4;
}
code
{
	border-style: solid;
	border-width: 1px;

	font-family: monospace;
	background-color: #f4f4f4;
}
pre>code
{
	border-style: none;
	padding: 0;
}







/* Site logo */

img.logo
{
	position: absolute;
	top: 0;
}

/* Album tree */

ul#tree
{
	display: none;
	float: left;
	clear: left;
	margin-top: 40px;
	border-style: solid;
	padding: 9px;
	width: 340px;
	height: 540px;
	overflow: auto;

	background-color: #a0d0d0;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow: 8px 8px 4px #808080;
	-moz-box-shadow: 8px 8px 4px #808080;
	-webkit-box-shadow: 8px 8px 4px #808080;
}

ul#tree li
{
	background-image: url('folder.png');
	background-repeat: no-repeat;
	background-position: left 3px;
}

ul#tree li.open
{
	background-image: url('folder_open.png');
}

ul#tree li>ul
{
	display: none;
	padding-left: 20px;
}

ul#tree li.open>ul
{
	display: block;
}

ul#tree li>a
{
	display: inline-block;
	padding: 5px 0 0 20px;
	height: 15px;
}

/* Page content */

article
{
	position: relative;
	float: right;
	clear: right;
	width: 1000px;
}
article ul#list_content
{
	margin: 0 30px;
	height: 560px;
}
article ul#list_content>li
{
	float: left;
	margin: 0 10px 10px 0;
	width: 180px;
	height: 180px;
}
article ul#list_content>li:nth-child(3n)
{
	margin-right: 0;
}
article ul#list_content a
{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;

	background-color: #000000;
}
article ul#list_content img
{
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	margin: auto;
	max-width: 180px;
	max-height: 180px;
}

article #preview_content
{
	margin-top: 10px;
}
article #preview_content>a
{
	display: block;
	position: relative;
	margin: 0 30px;
	width: 940px;
	height: 560px;

	background-color: #000000;
}
article #preview_content>a img
{
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	margin: auto;
	max-width: 940px;
	max-height: 560px;
}

#prev, #next
{
	display: none;
	position: absolute;
	top: 0; bottom: 0;
	margin: auto 0;
	width: 30px;
	height: 60px;
}
#prev
{
	left: 0;

	background-image: url('prev.png');
}
#next
{
	right: 0;

	background-image: url('next.png');
}

nav#actions
{
	display: block;
	height: 40px;

	text-align: right;
}

nav#actions a
{
	display: inline-block;
	margin: 4px;
	height: 16px;

	font-size: 11pt;
	color: #000080;
}
nav#actions a:hover
{
	text-shadow: 1px 1px 2px #808080;
	-moz-text-shadow: 1px 1px 2px #808080;
	-webkit-text-shadow: 1px 1px 2px #808080;
	color: #0000ff;
}

nav#pager
{
	display: block;
	margin: 8px 8px 8px 1px;

	text-align: center;
}
nav#pager>*
{
	display: inline-block;
	margin-left: 2px;
	border-style: solid;
	padding-top: 4px;
	width: 22px;
	height: 18px;

	text-align: center;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	color: #000000;
}
nav#pager>a
{
	background-color: #004000;
}
nav#pager>a:hover
{
	background-color: #008000;
}
nav#pager>span
{
	border-color: transparent;
}

/* Forms */

form
{
	float: left;
	margin-top: 20px;
	width: 300px;
}

label
{
	float: left;
	clear: left;
	margin: 2px;
	padding-top: 4px;
	width: 150px;
	height: 16px;

	text-align: right;
}

input
{
	float: right;
	clear: right;
	margin: 2px;
	border-style: solid;
	width: 140px;
	height: 18px;
}
input[type="file"]
{
	border-style: none;
}
button
{
	float: right;
	clear: right;
	margin: 2px;
	border-style: solid;
	padding: 2px;
	width: 136px;
	height: 16px;

	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;

	border-color: #000080;
	background-color: #80e0ff;
	cursor: pointer;
}
button:hover
{
	text-shadow: 1px 1px 2px #808080;
	-moz-text-shadow: 1px 1px 2px #808080;
	-webkit-text-shadow: 1px 1px 2px #808080;
	color: #0000ff;
}

#error
{
	display: none;
	float: right;
	margin: 5px;
	width: 300px;

	font-weight: bold;
	color: #a00000;
}

/* Java applet */

object
{
	margin: 40px 0 20px 0;
}
