<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{{title}}</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<link rel="copyright" href="http://www.gnu.org/copyleft/fdl.html" />
		<link rel="stylesheet" type="text/css" href="{{base}}static/common.css" />
		<link rel="icon" type="image/png" href="{{base}}static/icon.png" />
	</head>
	<body>
		<header>
			<ul>
				<li><a href="/">Main</a></li>
				<li><a target="_blank" href="http://martinkunev.wordpress.com">Blog</a></li>
				<li><a target="_blank" href="https://gitlab.com/martinkunev">Gitlab</a></li>
				<li><a target="_blank" href="https://github.com/martinkunev">Github (deprecated)</a></li>
			</ul>
		</header>
		{{{content}}}
	</body>
</html>
